<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
          <a routerLink="students" routerLinkActive="active" class="nav-link">Student List</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-student" routerLinkActive="active" class="nav-link">Add Student</a>
</li>
<li class="nav-item">
  <a routerLink="branches" routerLinkActive="active" class="nav-link">branches</a>
</li>
<li class="nav-item">
  <a routerLink="create-branch" routerLinkActive="active" class="nav-link">Add Branch</a>
</li>
  </ul>
</nav>

<div class="container">
 <router-outlet></router-outlet>
</div>

 <footer class="footer">
  <div class="container">
    <span class="span">All Rights are reserved 2023</span>
  </div>

</footer>